html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    font: 14px/1.5 Consolas, Arial, '\5fae\8f6f\96c5\9ed1', sans-serif;
    color: #333;
}

p {
    margin: 0;
}

.page-wrap {
    height: 100%;
}



.page-wrap .fav-item {
    float: left;
    margin: 20px 18px;
    position: relative;
    width: 200px;
    height: 100px;
    border: 2px solid #ccc;
    border-radius: 3px;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: border .2s ease-out;
    -o-transition: border .2s ease-out;
    transition: border .2s ease-out;
}

.page-wrap .fav-item:hover {
    border: 2px solid #999;
}

.page-wrap .fav-item .fav-item-title {
    margin: 0 10px;
    padding: 10px 0;
    font-size: 16px;
    color: blue;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}

.page-wrap .fav-item .fav-item-link {
    margin: 0 10px;
    color: #999;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}

.page-wrap .fav-item .fav-item-remove {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    -webkit-transition: -webkit-transform .2s ease-out;
    -o-transition: -o-transform .2s ease-out;
    transition: transform .2s ease-out;
}

.page-wrap .fav-item .fav-item-remove:before,
.page-wrap .fav-item .fav-item-remove:after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 1px;
    height: 70%;
    background-color: #ccc;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: background-color .2s ease-out;
    -o-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
}

.page-wrap .fav-item .fav-item-remove:before {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    -ms-transform: translate(-50%, -50%) rotate(-45deg);
    -o-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
}

.page-wrap .fav-item .fav-item-remove:after {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    -o-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
}

.page-wrap .fav-item .fav-item-remove:hover {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}


.page-wrap .fav-item .fav-item-remove:hover:before,
.page-wrap .fav-item .fav-item-remove:hover:after {
    background-color: #999;
}



.page-wrap.empty {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
}

.page-wrap .add-fav {
    float: left;
    margin: 20px 18px;
    position: relative;
    width: 100px;
    height: 100px;
    border: 2px solid #ccc;
    cursor: pointer;
    border-radius: 3px;
    overflow: hidden;
    -webkit-transition: border .2s ease-out;
    -o-transition: border .2s ease-out;
    transition: border .2s ease-out;
}

.page-wrap.empty .add-fav {
    float: none;
    margin: 0;
}

.page-wrap .add-fav .symbol-add {
    display: block;
    position: relative;
    margin-top: 20%;
    margin-right: 20%;
    margin-left: 20%;
    width: 60%;
    height: 60%;
    -webkit-transform-origin: center top;
    -moz-transform-origin: center top;
    -ms-transform-origin: center top;
    -o-transform-origin: center top;
    transform-origin: center top;
    -webkit-transition: margin-top .2s ease-out, -webkit-transform .2s ease-out;
    -o-transition: margin-top .2s ease-out, -o-transform .2s ease-out;
    transition: margin-top .2s ease-out, transform .2s ease-out;
}

.page-wrap .add-fav .symbol-add:before,
.page-wrap .add-fav .symbol-add:after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    border-radius: 2px;
    background-color: #ccc;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: background-color .2s ease-out;
    -o-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
}

.page-wrap .add-fav .symbol-add:before {
    width: 2px;
    height: 100%;
}

.page-wrap .add-fav .symbol-add:after {
    width: 100%;
    height: 2px;
}

.page-wrap .add-fav .label {
    margin: 0;
    text-align: center;
    opacity: 0;
    -webkit-transition: margin-top .2s ease-out, opacity .2s ease-out;
    -o-transition: margin-top .2s ease-out, opacity .2s ease-out;
    transition: margin-top .2s ease-out, opacity .2s ease-out;
}

.page-wrap .add-fav:hover {
    border: 2px solid #999;
}

.page-wrap .add-fav:hover .symbol-add {
    margin-top: 14%;
    -webkit-transform: scale(.7);
    -ms-transform: scale(.7);
    -o-transform: scale(.7);
    transform: scale(.7);
}

.page-wrap .add-fav:hover  .symbol-add:before,
.page-wrap .add-fav:hover  .symbol-add:after {
    background-color: #999;
}

.page-wrap .add-fav:hover .label {
    margin-top: -4%;
    opacity: 1;
}
